.price-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(67, 24, 102);
  padding: 50px;
  border-radius: 25px;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
